@{
    ViewData["Title"] = "Entity Framework";
}
<h1>Entity Framework</h1>
<ul>
    <li>
        <a asp-controller="entity" asp-action="categories">Categorías</a>
    </li>
    <li>
        <a asp-controller="entity" asp-action="products">Products</a>
    </li>
    <li>
        <a asp-controller="entity" asp-action="products-pagination" asp-route-pageNumber="1">Paginated Products</a>
    </li>
</ul>
