@{
    ViewData["Title"] = "Repository Pattern";
}
<h1>Repository Pattern</h1>
<ul>
    <li>
        <a asp-controller="repository" asp-action="ListTematicas">Temáticas</a>
    </li>
    <li>
        <a asp-controller="repository" asp-action="ListPeliculas">Películas</a>
    </li>
</ul>