@{
    ViewData["Title"] = "Security";
}

<h1>Security</h1>
<div class="row text-center">
    <a asp-controller="Security" asp-action="Login">Iniciar Sesión</a>
</div>
<div class="row text-center">
    <a asp-controller="Security" asp-action="Register">Crear cuenta</a>
</div>