@model projectMVC.Models.User
@{
    ViewData["Title"] = "Security";
    string FlashClass = (string)TempData["FlashClass"];
    string FlashMessage = (string)TempData["FlashMessage"];
}
<h1>Iniciar Sesión</h1>
@if (FlashClass != null) {
    <div class="alert alert-@FlashClass alert-dismissible fade show" role="alert">
        @FlashMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <form asp-controller="Security" asp-action="Login" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Correo"/>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Contraseña"/>
        </div>
        <hr/>
        <input type="hidden" asp-for="Name" class="form-control" placeholder="Nombre" value="vacio"/>
        <button type="submit" class="btn btn-success">Entrar</button>
    </form>
</div>
<hr/>
<div class="row">
    <p>
        <a href="@Url.Action("Register", "Security")">¿No tienes cuenta?</a>
    </p>
    <p>
        <a href="@Url.Action("ResetPassword", "Security")">Restablecer contraseña</a>
    </p>
</div>